:root {

    --canvasHeight:28vw;
    --h1Size: calc(var(--canvasHeight) * 0.67);
    --h3Size: calc(var(--h1Size) * 0.15);
    --h4Size: calc(var(--h1Size) * 0.18);


}


html, body {
    margin: 0;
    padding: 0;
    font-family: "Alumni Sans Pinstripe", serif;
    overflow:hidden;
    color:var(--text-color-body);
    background-color: var(--bg-hsl);

}

* {
    box-sizing: border-box;
}



#siteContainer {
    display:flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    /* height:100vh; */
    width:100vw;
    /* background-color: hsl(0, 0%, 90%, 1.0); */
    overflow:hidden;

}

#mobileWarning {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10vw;
    position: fixed;
    /* z-index: 4; */
    left: 0;
    top:0;
    width:100vw;
    height: 100vh;
    font-size:2rem;
    background-color: hsl(0, 0%, 0%, 0.90);
}

#proceedButton {
    /* width:10vw; */
    height: 7vw;
    font-size:1rem;
    appearance:none;
}









/* #mute {
    position:relative;
    z-index: 0;
    top:3px;
} */

#controlsContainer01 {
    display:flex;
    position:fixed;
    z-index: 2;
    flex-direction: column;
    padding:40px 10px;
    margin:0;
    border-radius: 20px;
    /* border:solid 1px hsl(0, 0%, 100%, 0.1); */
    border:solid 1px var(--controlsContainer01-border-hsl);
    background-color: var(--controlsContainer01-hsl);
    /* padding: 5vw 50vw; */
}

.canvasAndLabel{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* width:100%; */
}

#gainAndLPFContainer {
    display:grid;
    grid-template-columns:1fr 1fr;
}

#controlRow02 {
    /* position:relative; */
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items:center;

    grid-template-columns: 1fr;
    grid-template-rows:0.3fr 1fr;
}

.subheaderTogContainer {

}

#controlRow01 {
    position:relative;

    display:flex;
    /* grid-template-rows:200px 200px; */
    /* grid-template-columns:200px 200px; */
    justify-items:center;
    align-items:center;
    flex-direction:column;
    /* grid-template-columns:1fr 1fr 1fr; */
    /* grid-template-columns:150px 150px 150px; */


}

.toggle {
    /* position:absolute; */
    /* right:0px;
    top:0px; */
    width: calc(var(--canvasHeight) * 0.3);
    height: calc(var(--canvasHeight) * 0.3);
    cursor:pointer;
}

#toggAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}


.controlFlex01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.controlFlex02 {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#canvasViz01 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    width:100vw;
    height:100vh;
    /* padding:2vw; */
}

#canvas_setTheme {
    position: fixed;
    right: 0;
    top: 0;
    /* z-index: 2; */
    margin:1vh;
    width:4vh;
    height:4vh;
    cursor:pointer;
}

canvas {
    -webkit-tap-highlight-color: transparent;
    user-select:none;
}

.dial {
    position: relative;
    width:var(--canvasHeight);
    height:var(--canvasHeight);

}

#canvas_master_gain, #canvas_master_lpf{
    margin:0;
}

/* .toggle {
    cursor: pointer;
} */

h1 {
    text-align: center;
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: min(12vw,100px); */
    font-size:var(--h1Size);
    color:var(--text-color-h1);
    user-select:none;
    margin:0;
}

#headerSubheader {
    display:flex;
    flex-direction:column;
    margin:0;
    /* margin-left:1rem; */
    /* width:150px; */
}

/* #titleHeader */

#versionNumber {
    font-size: var(--h3Size);
    position: fixed;
    left: 0;
    bottom: 0;
    user-select:none;
    margin:0.3rem;
    opacity:0.3;
}

#briangawliktag {
    font-size: calc( var(--h1Size) * 0.22 );
    position: fixed;
    left:0;
    top: 0;
    margin:0.3rem;

    user-select:none;
    text-decoration:none;
    color:hsl(40, 50%, 50%, 0.3);
}



h3 {
    /* position: absolute; */
    /* bottom:0;
    left:40%; */

    text-align: center;
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: normal;
    font-size:var(--h3Size);
    margin:0;
    user-select:none;
}

h4 {
    text-align: center;
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: normal;
    font-size:var(--h4Size);
    opacity:50%;
    /* font-size: min(1vw,10px); */
    margin:0 0 0 0;
    user-select:none;
    letter-spacing: 3px;
}

#titleSubHeader {
    margin-left: var(--h4Size);
}





/* @media screen and (max-width: 900px) {
}

@media screen and (max-height: 600px) {
} */
 
/* @media only screen and (max-aspect-ratio: 3/4) {
} */

@media only screen and (min-aspect-ratio: 0.67) {

    :root {
        --canvasHeight:17vh;
        --h1Size: calc(var(--canvasHeight) * 0.67);
        --h3Size: calc(var(--h1Size) * 0.15);
        --h4Size: calc(var(--h1Size) * 0.15);
    }


    #controlsContainer01 {
        /* padding: 10vh vh; */
    }

    #canvas_setTheme {
        margin:1vh;
        width:4vh;
        height:4vh;
    }

}




/* @media only screen and (min-aspect-ratio: 3/2) {

    :root {
        --canvasHeight:20vh;
        --h1Size: calc(var(--canvasHeight) * 0.67);
        --h3Size: calc(var(--h1Size) * 0.15);
        --h4Size: calc(var(--h1Size) * 0.15);
    }

    .dial {
        width:var(--canvasHeight);
        height:var(--canvasHeight);
    }

    #controlsContainer01 {
        padding: 10vh 3vh;
    }

    #controlRow02 {
        grid-template-rows: 1fr;
        grid-template-columns:1fr 1fr;
    }

    #canvas_setTheme {
        margin:1vh;
        width:4vh;
        height:4vh;
    }


} */

