@media ( max-aspect-ratio: 3/4 ) {

    :root{
      --pageButtonFontSize: 3vh;
      --navToggleBar_height: 8vh;
      --navbarHeight: 30vh;
      /* --navBarsBackgroundColor: hsla(0,0%,8%,0.8); */
    }
    
  
  

  
    body {
        /* display:none; */
        /* font-size: 12pt; */
        width:90vw;

    }

    h1 {
      font-size:8vw;
    }

    h2 {
      font-size:8vw;
    }

    p {
      font-size:5vw;
    }

    .pageButton {
      font-size:8vw;
    }
    
  
  


  
  }