/* TABLE OF CONTENTS
  0. variables
  1. global styles
  2. typography
  3. components
  4. layout */





/* =============
   variables
   ============= */

:root {

  --bg-clr01: hsl(0,0%,10%);
  --bg-clr02: hsl(0,0%,12%);
  --bg-clr03: hsl(0,0%,10%);

  --image-height: 70vh;

  --navBarsBackgroundColor: hsla(0,0%,8%,0.97);

  --navToggleBar_height: 8vh;


  --h1Size: 10vw;
  --h2Size: calc(var(--h1Size) * 0.5);
  --h3Size: calc(var(--h1Size) * 0.35);
  --h4Size: calc(var(--h1Size) * 0.2);
  --pSize: calc(var(--h1Size) * 0.25);


}





html {
  margin: 0;
  
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: "Cambria Math";
  /* font-family: "Alumni Sans Pinstripe", serif; */

  font-size: 8pt;
  color: black;
  background-color: white;  
}

* {
  box-sizing: border-box;
}





p {
  margin: 1rem 0;
  /* font-size: 1rem; */
  font-size: var(--pSize);

  text-align: justify;
}

h1 {
  /* font-size: 3rem; */
  font-size: var(--h1Size);
  /* text-align: center; */
  font-weight: 500;
  margin:0;
  margin-top: 0;
  /* margin-bottom: 1.0rem; */
  /* color:hsl(0,10%,80%); */
  line-height:1;
  /* color: hsl(0,0%,50%); */
}

h2 {
  /* font-size: 2rem; */
    font-size: var(--h2Size);

  margin:0;
  margin-top: 1rem;
  font-weight: 500;
  text-align: left;
}

h3 {
  /* font-size: 1.5rem; */
    font-size: var(--h3Size);

  margin:0;
  margin-top: 1rem;
  font-weight: 600;
}

h4 {
  /* font-size: 1rem; */
    font-size: var(--h4Size);

  margin:0;
  margin-top: 1rem;
  font-weight: 550;
}

h5 {
  font-size: 0.85rem;
  margin:0;
  margin-top: 0.5rem;
  font-weight: 500;
}

a {
  color:hsl(200,80%,30%);
  font-size: 1rem;
  text-align: center;
  /* text-decoration:none; */
}


img{
  width:100%;
  height:auto;
  object-fit: cover;
}

button {
  border: none;
  outline:none;
  overflow: hidden;  
  background-color: var(--clr_button);
  color: var(--clr_button_text);
}

button :hover {
  cursor: pointer;
}



















.contentContainer {
  display:flex;
  flex-direction: column;
  /* position:relative; */

  /* align-items: center; */
  align-items: start;
  align-content: center;
  justify-content: center;
  background: none;
  /* width: 25rem; */
  /* max-width:80%; */
  width:100vw;
  /* height:100vh; */
  margin-left:auto;
  margin-right:auto;
  margin-top:5rem;
  gap:1rem;
  width: 25rem;
  max-width:40%;
}

.contentContainer p {
  margin: 0 0 2rem 0;
}



.socialButtonsBar {
  display:flex;
  justify-content:space-around;
  align-items: center;
  /* width: 80%; */

  /* height: 5rem; */
  height: var(--h1Size);

  /* margin-left:auto; */
  /* margin:0 auto; */
  border-top:1px solid white;
}

.socialButtonsBar img {
  margin: 0 var(--h1Size);
  /* height: 2rem; */
  height: var(--h2Size);
}


.socialButton {
  display:flex;
  align-items:center;
  justify-content:center;
  /* height: 1rem; */
  /* width: 2rem; */
}





















/* =============
   components
   ============= */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  /* background-color:var(--bg-clr03); */
  outline:none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  /* width:1px; */
  border-radius: 1px;
  border: 8px solid rgba(0, 0, 0, 0);
  /* border-top: 20px solid rgba(0, 0, 0, 0); */
  /* border-bottom: 20px solid rgba(0, 0, 0, 0); */
  /* padding: 10rem; */
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* width: 3px; */
  /* background: #555; */
}










/* @media only screen and (min-width: 1025px) and (min-aspect-ratio 1) { */
@media only screen and (min-aspect-ratio: 0.80) {

  :root {
      /* --canvasHeight:10vh; */
      --h1Size: 8vh;
      /* --h2Size: calc(var(--h1Size) * 0.5);
      --h3Size: calc(var(--h1Size) * 0.2);
      --h4Size: calc(var(--h1Size) * 0.2); */
  }


  .contentContainer {

    display:flex;
    flex-direction: column;
    align-items: start;
    /* width: 40vw; */
    width:auto;
    /* max-width:80%; */
  
  }






}