
/* 
:root {

  --bg-clr01: hsl(0,0%,10%);
  --bg-clr02: hsl(0,0%,12%);
  --bg-clr03: hsl(0,0%,10%);

  --image-height: 70vh;

  --navBarsBackgroundColor: hsla(0,0%,8%,0.97);

  --navToggleBar_height: 8vh;

  --artContainer_marginTop: 4rem;

} */


:root {

  --bg-clr01: hsl(0, 0%, 10%);
  --bg-clr02: hsl(0, 0%, 12%);
  --bg-clr03: hsl(0, 0%, 10%);

  --image-height: 70vh;

  --navBarsBackgroundColor: hsla(0, 0%, 8%, 0.97);

  --navToggleBar_height: 8vh;


  --h1Size: 5vw;
  --h2Size: calc(var(--h1Size) * 1.5);
  --h3Size: calc(var(--h1Size) * 0.70);
  --h4Size: calc(var(--h1Size) * 0.2);
  --pSize: calc(var(--h1Size) * 0.6);

  --textColor: hsl(0, 0%, 20%);


}









html {
  margin: 0;
  
}

body {
  line-height: 1.5;
  margin: 0;
  font-family: "Cambria Math";
          font-family: "Scheherazade New", serif;  font-size: 8pt;
  color: black;
  /* background-color: var(--bg-clr01); */
  background-color: white;
  overflow-x:hidden;
  /* width: 60vw; */
  /* max-width:600px; */
  margin-top: 5rem;
  
}

* {
  /* color: white; */
  box-sizing: border-box;
}









.with_code_span {
  color:bisque;
  font-style:italic;
}





/* =============
   typography
   ============= */


p {
  margin: 0.7rem 0;
  font-size: var(--pSize);
  text-align: justify;
}

h1 {
  font-size: var(--h1Size);
  /* text-align: center; */
  font-weight: 500;
  margin:0;
  margin-top: 0;
  /* margin-bottom: 1.0rem; */
  /* color:hsl(0,10%,80%); */
  line-height:1;
  /* color: hsl(0,0%,50%); */
}

h2 {
  font-size: var(--h2Size);
    margin:4rem 0 1rem 0;
  margin-top: 0.2rem;
  font-weight: 500;
  text-wrap:nowrap;
  /* text-align: center; */
}

h3 {
  font-size: var(--h3Size);
  /* margin:0; */
  margin-top: 0.5rem;
  font-weight: 500;
}

h4 {
  font-size: var(--h4Size);
  margin:0;
  margin-top: 0.5rem;
  font-weight: 550;
}

h5 {
  font-size: var(--h5Size);
  margin:0;
  margin-top: 0.5rem;
  font-weight: 500;
}

a {
  color:hsl(200,80%,30%);
  font-size: var(--pSize);
  text-align: center;
}



img{
  width:100%;
  height:auto;
  /* height:400px; */
  /* margin: 1rem 0; */
  /* margin:0 1rem 0rem 0rem; */
  /* object-fit: cover; */
  object-fit: contain;
}

.art-img{
  width:100%;
  height:auto;
  /* object-fit: cover; */
  /* cursor:zoom-in; */
}

button {
  border: none;
  outline:none;
  overflow: hidden;  
  background-color: var(--clr_button);
  color: var(--clr_button_text);
}

button :hover {
  cursor: pointer;
}



.sizeOption {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.sizeText {
  /* display:inline; */
  font-size: 1.5rem;
  width: 7rem;
}





















/* =============
   layout
   ============= */

   






.artOnTop {
  display:flex;
  justify-content: center;
  position: fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
  padding:1rem;
  background-color: white;

}

.artOnTop img {

  /* height:100vh; */

  /* width:100%; */
  object-fit:contain;
  cursor:zoom-out;
}

#curtainForFullScreen {
  background-color: white;
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  /* cursor:zoom-out; */
}




.socialButtonsBar {
  display:flex;
  justify-content:space-around;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  /* flex-wrap: wrap; */
  /* border-top:1px solid white; */
}

.socialButtonsBar img {
  margin: 0 2rem;
  height: 3rem;
  /* object-fit:fill */
}



.socialButton {
  display:inline;
  align-items:center;
  justify-content:center;
  /* height: 1rem; */
  /* width: 2rem; */
}


.NFTPlatformLinks {
  color:hsl(200,80%,30%);
  font-size: 1rem;
  margin:0 0rem 1rem 0;
  /* text-align: center; */
}





.headerContainer {
    display:flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    justify-content: start;
    background: none;
    width: 60rem;
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:var(--artContainer_marginTop);
  }


.columnsContainer {
  display:flex;
  flex-direction: row;
  align-items: start;
  align-content: center;
  justify-content: start;
  background: none;
  width: 60rem;
  max-width:80%;
  margin-left:auto;
  margin-right:auto;
  gap:1rem;
  margin-top:var(--artContainer_marginTop);
}


.rowContainer {

  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  background: none;

  width:100%;

  margin-left:0rem;
  margin-right:0rem;

  gap:1rem;

  margin-top:var(--artContainer_marginTop);

}


.lineAcross {
  border-top:1px solid black; 
  height:1rem; 
  width:100%;
}


.spaceAtBottom {
  /* border-top:1px solid black;  */
  height:5rem; 
  width:100%;
}


.singleFrameWide {

  display:flex;
  /* flex-direction: column; */
  align-items: start;
  align-content: center;
  justify-content: start;

  /* background-color: black; */

  width:100%;

  margin-left:auto;
  margin-right:auto;

  /* gap:1rem; */

  margin-top:var(--artContainer_marginTop);

}

.singleFrameWide img {
  /* width: 100%; */
  /* max-height:30rem; */
}

.singleFrameTall {

  display:flex;
  /* flex-direction: column; */
  align-items: start;
  align-content: center;
  justify-content: start;

  /* background-color: black; */

  width:100%;

  margin-left:auto;
  margin-right:auto;

  /* gap:1rem; */

  margin-top:var(--artContainer_marginTop);

}

.singleFrameTall img {
  width: 100%;
}

.mainArtContainer2 {

  display:flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: center;

  background: none;

  /* width:80%; */

  margin-left:auto;
  margin-right:auto;

  gap:1rem;

  margin-top:var(--artContainer_marginTop);

}



.artVerticalContainer {

  display:flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: start;

  background: none;

  /* width:30rem; */
  width:50%;


  margin-left:auto;
  margin-right:auto;

  gap:1rem;

}

.artHorizontalContainer {

  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  background: none;

  /* width:30rem; */
  width:50%;

  margin-left:auto;
  margin-right:auto;

  gap:10px;

}
























/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  outline:none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}









    @media only screen and (min-aspect-ratio: 1.0) {
  
      :root {
        --h1Size: 2rem;
      }
  

  

  
    }